<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497036758885-h76dao8ivpkcof2gk7v270q222km97eg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497036758885-h76dao8ivpkcof2gk7v270q222km97eg</string>
	<key>API_KEY</key>
	<string>AIzaSyC1bB-h-1M7zJF6PQVyNDtHMmTQakrA2sI</string>
	<key>GCM_SENDER_ID</key>
	<string>497036758885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChickChack.ChickCahck</string>
	<key>PROJECT_ID</key>
	<string>chickchack-3069a</string>
	<key>STORAGE_BUCKET</key>
	<string>chickchack-3069a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497036758885:ios:2adcf5365a758a5a5cdb8c</string>
	<key>DATABASE_URL</key>
	<string>https://chickchack-3069a-default-rtdb.firebaseio.com</string>
</dict>
</plist>